<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Home Page</title>
  <link rel="stylesheet" href="../styles/index.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria Serif:ital,wght@1,700&display=swap" />
</head>

<body>
  <div class="home-page">
    <header class="header">
      <div class="nav-bar">
        <a href="#" class="about-us">Phương pháp học</a>
        <a href="#" class="calendar">Miralendar</a>
        <img class="miracids-logo-icon" alt="" src="../assets/miracids-logo@3x.png" />

        <a href="pomodoro.html" class="study-techniques-text">Pomodoro session</a>
        <a href="#" class="mirabot">Mirabot</a>
        <button class="login-button" autofocus data-animate-on-scroll>
          <div class="login-text">Đăng Nhập</div>
        </button>
      </div>
      <img class="header-background-icon" alt="" src="../assets/header-background@2x.png" />

      <div class="header-title">
        <button class="start-button" autofocus>
          <b class="start-text">Bắt đầu</b>
        </button>
        <div class="header-text">Học tập hiệu quả hơn cùng Miracids</div>
      </div>
    </header>
    <article class="inside">
      <section class="focus-on">
        <div class="small-title">
          Các công cụ để tối ưu hóa sự tập trung kể cả những ngày bạn không
          còn động lực học.
        </div>
        <b class="big-title">SỰ TẬP TRUNG</b>
        <div class="main">HƯỚNG ĐẾN:</div>
        <div class="timetable">
          <div class="timetable-description">
            <ul class="text_box">
              <li class="text">
                “Lịch” cho phép người dùng thiết kế bảng biểu.
              </li>
              <li class="text">
                “Lưu ý” hỗ trợ sắp xếp những file, links, notes. chưa được sắp
                xếp vào lịch.
              </li>
              <li>“Tìm kiếm” hỗ trợ tìm lại được những đầu việc.</li>
            </ul>
          </div>
          <div class="timetable-introtitle">
            <span class="timetable-introtitle-txt">
              <span>Giới thiệu:</span>
              <i class="internal"> </i>
              <i class="miralendar">Miralendar</i>
            </span>
          </div>
          <button class="timetable-btn" autofocus>
            <b class="timetable-info">Tìm hiểu thêm</b>
          </button>
          <img class="screen-shot-2023-08-06-at-155" alt="" src="../assets/screen-shot-20230806-at-1555-1@2x.png" />
        </div>
        <div class="pomodoro">
          <div class="pomodoro-description">
            <ul class="text_box">
              <li class="text">
                Phương pháp học Pomodoro để tối đa hóa sự tập trung: 25 phút
                học, 5 phút nghỉ ngắn, 15 phút nghỉ dài.
              </li>
              <li class="text">Notes giúp người dùng ghi chú.</li>
              <li>Background tùy chỉnh theo ý của bạn.</li>
            </ul>
          </div>
          <button class="pomodoro-btn" autofocus>
            <b class="pomodoro-info">Tìm hiểu thêm</b>
          </button>
          <div class="pomodoro-introtitle">
            <span class="timetable-introtitle-txt">
              <span>Giới thiệu:</span>
              <b> </b>
              <i class="miralendar">Pomodoro session</i>
            </span>
          </div>
          <img class="screen-shot-2023-08-06-at-1551" alt="" src="../assets/screen-shot-20230806-at-1553-1@2x.png" />
        </div>
        <div class="edubot">
          <button class="pomodoro-btn" autofocus>
            <b class="edubot-info">Tìm hiểu thêm</b>
          </button>
          <div class="edubot-introtitle">
            <span class="timetable-introtitle-txt">
              <span>Giới thiệu:</span>
              <b> </b>
              <i class="miralendar">Mirabot</i>
            </span>
          </div>
          <div class="edubot-photo"></div>
          <div class="edubot-description">
            <ul class="text_box">
              <li class="text">
                Trợ thủ đắc lực tăng động lực cho quá trình học.
              </li>
              <li class="text">
                Sắp xếp thông tin vào Miralendar qua tin nhắn.
              </li>
              <li>Người bạn đồng hành của bạn trong Feynman Technique</li>
            </ul>
          </div>
        </div>
        <img class="screen-shot-2023-08-06-at-154" alt="" src="../assets/screen-shot-20230806-at-1547-1@2x.png" />
      </section>
      <section class="frame-1">
        <div class="mindmap">
          <img class="line-1-icon" alt="" src="../assets/line-11.svg" />

          <img class="line-2-icon" alt="" src="../assets/line-21.svg" />

          <!-- <img class="line-2-icon1" alt="" src="../assets/line-22.svg" /> -->

          <img class="line-3-icon" alt="" src="../assets/line-31.svg" />

          <img class="line-4-icon" alt="" src="../assets/line-41.svg" />

          <img class="line-12-icon" alt="" src="../assets/line-12.svg" />

          <img class="line-5-icon" alt="" src="../assets/line-51.svg" />

          <img class="line-6-icon" alt="" src="../assets/line-61.svg" />

          <!-- <img class="line-6-icon1" alt="" src="../assets/line-62.svg" />

          <img class="line-6-icon2" alt="" src="../assets/line-63.svg" /> -->

          <img class="line-7-icon" alt="" src="../assets/line-71.svg" />

          <img class="line-8-icon" alt="" src="../assets/line-81.svg" />

          <img class="line-9-icon" alt="" src="../assets/line-91.svg" />

          <img class="line-10-icon" alt="" src="../assets/line-101.svg" />

          <div class="rectangle-164"></div>
          <div class="rectangle-170"></div>
          <div class="rectangle-169"></div>
          <div class="rectangle-168"></div>
          <div class="rectangle-167"></div>
          <div class="rectangle-166"></div>
          <div class="rectangle-165"></div>
          <i class="helping-hand">A helping hand</i>
          <i class="help">Help</i>
          <i class="assist">Assist</i>
          <i class="helping">Giúp</i>
          <i class="lend">Lend a hand to</i>
          <i class="aid">Aid</i>
          <i class="succur">Succur</i>
          <div class="rectangle-175"></div>
          <b class="mind-maps">Khám phá Mind Maps</b>
        </div>
        <div class="mnemonics">
          <div class="memonic-background"></div>
          <div class="rectangle-176"></div>
          <img class="memorization-photo-icon" alt="" src="../assets/memorization-photo1@2x.png" />

          <div class="memorization-board"></div>
          <img class="music-icon" alt="" src="../assets/music1@2x.png" />

          <b class="memorization">Memorization</b>
          <div class="memorization-meaning">
            <span class="timetable-introtitle-txt">
              <p class="memorization-n">Memorization (n):</p>
              <p class="note">
                <i class="internal">việc ghi nhớ</i>
              </p>
            </span>
          </div>
        </div>
        <div class="chat">
          <div class="rectangle-173"></div>
          <div class="rectangle-174"></div>
          <div class="solution">
            <span class="timetable-introtitle-txt">
              <p class="note">Giải nghĩa giúp em từ</p>
              <p class="note">“Interactive” với</p>
            </span>
          </div>
          <div class="interactive-meaning">
            <span class="timetable-introtitle-txt">
              <p class="note">
                <span class="interactive-y">“Interactive” ở đây sẽ là </span>
                <i class="internal">năng </i>
              </p>
              <p class="note">
                <i class="internal">động hơn, tương tác hơn</i>
                <span class="ch"> chứ </span>
              </p>
              <p class="memorization-n">không dừng lại ở việc học thuộc</p>
              <p class="memorization-n">chay chẳng hạn</p>
            </span>
          </div>
          <img class="avatar-icon-1" alt="" src="../assets/avatar-icon-11@2x.png" />

          <img class="avatar-icon-2" alt="" src="../assets/avatar-icon-11@2x.png" />

          <b class="remember">SỰ GHI NHỚ</b>
          <div class="miracids-finding">
            Sự ghi nhớ, tưởng chừng chỉ đóng một phần nhỏ trong việc học, thực
            chất lại vô cùng quan trọng bởi kiến thức để áp dụng được cần phải
            nhớ, phải hiểu. MIRACIDS đã tìm ra những phương pháp học hiệu quả
            nhất để thay thế truyền thống học thuộc chay hiện tại, giúp việc
            ghi nhớ năng động, tương tác hơn.
          </div>
          <div class="rectangle-177"></div>
          <b class="feynman-technique">Khám phá Feynman Technique</b>
          <b class="mind-maps1">Khám phá Mnemonics</b>
        </div>
      </section>
      <section class="all-in-1">
        <b class="concentrate">Tập trung</b>
        <img class="concentrate-image-icon" alt="" src="../assets/concentrate-image1@2x.png" />

        <img class="cogs-image-icon" alt="" src="../assets/cogs-image1@2x.png" />

        <img class="light-bulb-image-icon" alt="" src="../assets/light-bulb-image1@2x.png" />

        <div class="line-2"></div>
        <div class="line-11"></div>
        <b class="efficiency">Hiệu suất</b>
        <b class="memorize">Ghi nhớ</b>
        <b class="center-text">TRỢ THỦ TRỌN GÓI CỦA RIÊNG BẠN</b>
      </section>
    </article>
    <footer class="foot">
      <img class="footer-background-icon" alt="" src="../assets/footer-background.svg" />

      <input class="email-input-area" type="email" />

      <button class="register-button" autofocus>
        <div class="register-btn-text">Đăng ký</div>
      </button>
      <div class="copyright-text">Copyright 2023 . All rights reserved.</div>
      <button class="facebook-icon" autofocus></button>
      <button class="insta-icon" autofocus></button>
      <button class="mail-icon" autofocus></button>
      <div class="register">ĐĂNG KÝ</div>
      <div class="regist-text">
        Đăng ký email của bạn để được nhận thông báo mới nhất
      </div>
      <a class="email-address" href="mailto:info.oi@gmail.com" target="_blank">info.@gmail.com</a>
      <img class="copyright-image-icon" alt="" src="../assets/copyright-image1@2x.png" />

      <b class="miracids">MIRACIDS</b>
      <i class="watermark">Picture from pexel.com</i>
    </footer>
  </div>

  <script>
    var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
    var observer = new IntersectionObserver(
      (entries) => {
        for (const entry of entries) {
          if (entry.isIntersecting || entry.intersectionRatio > 0) {
            const targetElement = entry.target;
            targetElement.classList.add("animate");
            observer.unobserve(targetElement);
          }
        }
      },
      {
        threshold: 0.15,
      }
    );

    for (let i = 0; i < scrollAnimElements.length; i++) {
      observer.observe(scrollAnimElements[i]);
    }
  </script>
</body>

</html>