body {
  margin: 0;
  line-height: normal;
  font-family: system-ui, sans-serif;
}

:root {
  /* fonts */
  --font-inria-serif: "Inria Serif";
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-31xl: 50px;
  --font-size-13xl: 32px;
  --font-size-9xl: 28px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;

  /* Colors */
  --color-gray: #2c2c2c;
  --color-white: #fff;
  --color-black: #000;
  --color-midnightblue: #141f81;
  --color-whitesmoke: #f0efef;
  --color-silver: #bababa;
  --color-gainsboro: #dcdcdc;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-8xl: 27px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-5xl: 24px;
  /*scheduler*/
  --numDays: 7;
  --numHours: 24;
  --timeHeight: 60px;
  --calBgColor: #b8e0f6;
  --eventBorderColor: #d3d4f2;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}


.about-us,
.calendar {
  text-decoration: none;
  position: absolute;
  top: 21px;
  left: 578px;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 163px;
  height: 23px;
}

.calendar {
  top: 20px;
  left: 212px;
  width: 103px;
}

.miracids-logo-icon {
  position: absolute;
  top: -50px;
  left: 0;
  width: 156px;
  height: 153px;
  object-fit: cover;
}

.study-techniques-text {
  top: 20px;
  left: 362px;
  font-weight: 500;
  display: inline-block;
  width: 169px;
  height: 23px;
  text-decoration: none;
  color: var(--color-black);
}

.login-text,
.mirabot,
.study-techniques-text {
  position: absolute;
  letter-spacing: -0.03em;
}

.mirabot {
  text-decoration: none;
  top: 19px;
  left: 788px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
}

.login-text {
  top: 9px;
  left: 16.5px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}

.login-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-midnightblue);
  position: absolute;
  top: 13.5px;
  left: 1352px;
  border-radius: var(--br-3xs);
  width: 105px;
  height: 35px;
}


.nav-bar {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-white);
  width: 1471px;
  height: 57.79px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1471px;
  height: 734.66px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
  zoom: 86%;
}

table {
  position: relative;
  top: 60px;
}


#eventForm {
  position: relative;
  top: 70px;
  left: 0;
  margin-left: 2%;
}

.calendar_table {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

.start-10 {
  grid-row-start: 2;
}

.start-12 {
  grid-row-start: 4;
}

.start-1 {
  grid-row-start: 5;
}

.start-2 {
  grid-row-start: 6;
}

.end-12 {
  grid-row-end: 4;
}

.end-1 {
  grid-row-end: 5;
}

.end-3 {
  grid-row-end: 7;
}

.end-4 {
  grid-row-end: 8;
}

.end-5 {
  grid-row-end: 9;
}

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: white;
}

.space,
.date {
  height: 60px;
}

.corp-fi {
  background: var(--eventColor1);
}

.ent-law {
  background: var(--eventColor2);
}

.writing {
  background: var(--eventColor3);
}

.securities {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
  padding-bottom: 50px;
}

.date-num {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
}

.date-day {
  display: inline;
  font-size: 3rem;
  font-weight: 100;
}