body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-31xl: 50px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #2c2c2c;
  --color-midnightblue: #141f81;
  --color-gainsboro: #dcdcdc;
  --color-silver: #bababa;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-8xl: 27px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-xl: 20px;
}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-us {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 567px;
  color: inherit;
  width: 124px;
}

.about-us,
.calendar,
.study-techniques-text {
  letter-spacing: -0.03em;
  font-weight: 500;
  display: inline-block;
  height: 23px;
}

.calendar {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 218px;
  color: inherit;
  width: 43px;
}

.study-techniques-text {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray);
  text-align: center;
  width: 166px;
  flex-shrink: 0;
}

.vector-3-icon {
  position: relative;
  width: 13.27px;
  height: 7.91px;
}

.study-techniques {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  left: 323px;
  width: 182px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.edubot,
.miracids-logo {
  text-decoration: none;
  position: absolute;
}

.miracids-logo {
  top: -50px;
  left: 0;
  width: 156px;
  height: 153px;
  background-image: url(../assets/miracids-logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.edubot {
  top: 14px;
  left: 754px;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

.line-11,
.line-12,
.line-14 {
  position: absolute;
  top: -0.5px;
  left: 294.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 57px;
}

.line-12,
.line-14 {
  left: 539px;
  height: 57.01px;
}

.line-14 {
  top: -2.5px;
  left: 721.5px;
}

.login-text {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}

.login-button {
  cursor: pointer;
  border: 0;
  padding: 8px 16px;
  background-color: var(--color-midnightblue);
  position: absolute;
  top: 12px;
  left: 1352px;
  border-radius: var(--br-3xs);
  width: 105px;
  height: 35px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.navigation-objects {
  position: relative;
  width: 1471px;
  height: 57.79px;
}

.header-text,
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar {
  margin: 0;
  background-color: var(--color-white);
  width: 1471px;
  height: 55.73px;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}

.nav-bar.animate {
  animation: 1.5s ease-in 1s 1 normal forwards scale-up;
}

.header-text {
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 600;
  justify-content: center;
  width: 818.59px;
  height: 45px;
  flex-shrink: 0;
}

.header1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1470px;
  height: 631px;
  display: flex;
  flex-direction: column;
  padding: 217px 310.17474365234375px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  background-image: url(../assets/header@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.start-text {
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.03em;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 17.74px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.start-button {
  cursor: pointer;
  border: 3px solid var(--color-white);
  padding: 14px 95px;
  background-color: transparent;
  position: absolute;
  top: 277px;
  left: 556px;
  border-radius: 24px;
  box-sizing: border-box;
  width: 335px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.start {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1471px;
  height: 652.21px;
  opacity: 0;
}

.start.animate {
  animation: 1.5s ease-in 1.75s 1 normal forwards fade-in-bottom;
}

.header {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1472px;
  height: 710px;
  display: flex;
  flex-direction: column;
  padding: 0 1px 0.00000762939453125px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.bullet-point {
  margin-bottom: 0;
}

.bullet-point-bullet-point-bull {
  margin: 0;
  padding-left: var(--padding-8xl);
}

.timetable-description {
  position: absolute;
  top: 419px;
  left: 31px;
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 378px;
}

.timetable-info {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.03em;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 144px;
}

.timetable-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 0;
  background-color: var(--color-midnightblue);
  position: absolute;
  top: 539px;
  left: 79px;
  border-radius: var(--br-3xs);
  width: 285px;
  height: 48px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.i {
  font-weight: 700;
}

.lch {
  font-weight: 600;
}

.timetable-introtitle-txt {
  line-break: anywhere;
  width: 100%;
}

.timetable-introtitle {
  position: absolute;
  top: 339px;
  left: 31px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  width: 378px;
  font-family: var(--font-inter);
}

.timetable-photo {
  position: absolute;
  top: 30px;
  left: 31px;
  background-color: var(--color-silver);
  width: 378px;
  height: 291px;
}

.timetable {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 612px;
}

.pomodoro-introtitle {
  top: 331px;
  left: 31px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.03em;
  width: 378px;
  font-family: var(--font-inter);
}

.big-title,
.intro-techniques,
.pomodoro-introtitle,
.small-title {
  position: absolute;
  display: flex;
  align-items: center;
}

.intro-techniques {
  top: 205px;
  left: 0;
  width: 1414px;
  height: 612px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 47px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}

.big-title,
.small-title {
  text-align: center;
  justify-content: center;
}

.small-title {
  top: 142px;
  left: calc(50% - 596px);
  font-size: var(--font-size-13xl);
  width: 1196px;
}

.big-title {
  top: 73px;
  left: 520px;
  width: 377px;
}

.focus-on,
.main {
  position: absolute;
  top: 0;
}

.main {
  left: 0;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 393px;
  height: 91px;
}

.focus-on {
  left: calc(50% - 707px);
  width: 1414px;
  height: 817px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}

.line-1-icon,
.line-2-icon {
  position: absolute;
  top: 22.78px;
  left: 180.76px;
  width: 96.35px;
  height: 97.81px;
}

.line-2-icon {
  top: 119.96px;
  left: 181.83px;
  width: 58.7px;
  height: 124.32px;
}

.line-3-icon,
.line-4-icon {
  position: absolute;
  top: 183.2px;
  left: 240.18px;
  width: 119.56px;
  height: 61.08px;
}

.line-4-icon {
  top: 21.64px;
  left: 277.11px;
  width: 121.23px;
  height: 60.25px;
}

.line-5-icon,
.line-6-icon {
  position: absolute;
  top: 80.84px;
  left: 238.09px;
  width: 159.59px;
  height: 162.6px;
}

.line-6-icon {
  top: 119.18px;
  left: 181.83px;
  width: 178.41px;
  height: 64.52px;
}

.line-7-icon,
.line-8-icon {
  position: absolute;
  top: 66.4px;
  left: 51.98px;
  width: 345.75px;
  height: 13.28px;
}

.line-8-icon {
  top: 66.45px;
  width: 39.37px;
  height: 119.93px;
}

.line-10-icon,
.line-9-icon {
  position: absolute;
  top: 119.75px;
  left: 89.93px;
  width: 92.78px;
  height: 66.85px;
}

.line-10-icon {
  top: 185.38px;
  left: 89.38px;
  width: 149.79px;
  height: 59.46px;
}

.rectangle-164,
.rectangle-165,
.rectangle-166,
.rectangle-167,
.rectangle-168,
.rectangle-169,
.rectangle-170 {
  position: absolute;
  top: 97px;
  left: 144px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 76px;
  height: 46px;
}

.rectangle-165,
.rectangle-166,
.rectangle-167,
.rectangle-168,
.rectangle-169,
.rectangle-170 {
  top: 42px;
  left: 17px;
  height: 47px;
}

.rectangle-165,
.rectangle-166,
.rectangle-167,
.rectangle-168,
.rectangle-169 {
  top: 161px;
  left: 52px;
  height: 46px;
}

.rectangle-165,
.rectangle-166,
.rectangle-167,
.rectangle-168 {
  top: 221px;
  left: 203px;
}

.rectangle-165,
.rectangle-166,
.rectangle-167 {
  top: 162px;
  left: 321px;
  width: 77px;
}

.rectangle-165,
.rectangle-166 {
  top: 56px;
  left: 360px;
}

.rectangle-165 {
  top: 0;
  left: 239px;
  width: 76px;
  height: 47px;
}

.ghi,
.giup,
.hon,
.nho,
.tap,
.trung,
.va {
  position: absolute;
  top: 52px;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 25px;
}

.ghi,
.hon,
.nho,
.tap,
.trung,
.va {
  top: 11px;
  left: 222px;
}

.hon,
.nho,
.tap,
.trung,
.va {
  top: 66px;
  left: 342px;
}

.hon,
.tap,
.trung,
.va {
  top: 107px;
  left: 127px;
}

.hon,
.tap,
.trung {
  top: 172px;
  left: 31px;
}

.hon,
.trung {
  left: 305px;
}

.hon {
  top: 231px;
  left: 186px;
}

.rectangle-175 {
  position: absolute;
  top: 282px;
  left: 94px;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 284px;
  height: 40px;
}

.mind-maps {
  position: absolute;
  top: 290px;
  left: 184px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.03em;
  display: inline-block;
  color: var(--color-white);
  width: 103px;
}

.mindmap {
  position: absolute;
  top: 0;
  left: 769px;
  width: 451px;
  height: 322px;
}

.memonic-background,
.rectangle-176 {
  position: absolute;
  top: 13px;
  left: 271px;
  border-radius: var(--br-xl);
  background-color: var(--color-midnightblue);
  width: 257px;
  height: 180px;
}

.rectangle-176 {
  top: 208px;
  left: 120px;
  border-radius: var(--br-3xs);
  width: 284px;
  height: 40px;
}

.memorization-photo-icon {
  position: absolute;
  top: 65px;
  left: 284px;
  width: 141px;
  height: 101px;
  object-fit: cover;
}

.memorization-board {
  position: absolute;
  top: 13px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-midnightblue);
  width: 256px;
  height: 180px;
}

.music-icon {
  position: absolute;
  top: 65px;
  left: 446px;
  width: 72px;
  height: 101px;
  object-fit: cover;
}

.memorization {
  position: absolute;
  top: 26px;
  left: 284px;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: flex;
  text-align: left;
  align-items: center;
  width: 162px;
  height: 39px;
}

.memorization-n {
  margin: 0;
  font-weight: 300;
}

.vic-ghi-nh {
  margin: 0;
}

.memorization-meaning,
.mnemonics1 {
  position: absolute;
  letter-spacing: -0.03em;
}

.memorization-meaning {
  top: 91px;
  left: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 197px;
  height: 25px;
}

.mnemonics1 {
  top: 216px;
  left: 207px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 110px;
}

.mnemonics {
  position: absolute;
  top: 339px;
  left: 742px;
  width: 528px;
  height: 248px;
  color: var(--color-white);
}

.rectangle-173,
.rectangle-174 {
  position: absolute;
  top: 289px;
  left: 733px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 281px;
  height: 75px;
}

.rectangle-174 {
  top: 387px;
  left: 970px;
  width: 332px;
  height: 128px;
}

.solution {
  position: absolute;
  top: 303px;
  left: 757px;
  letter-spacing: -0.03em;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 192px;
}

.interactive-y {
  font-family: var(--font-inter);
}

.ch,
.interactive-y {
  font-weight: 300;
}

.interactive-meaning {
  position: absolute;
  top: 403px;
  left: 993px;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  width: 286px;
}

.avatar-icon-1,
.avatar-icon-2 {
  position: absolute;
  top: 299px;
  left: 656px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.avatar-icon-2 {
  top: 387px;
  left: 1312px;
}

.miracids-finding,
.remember {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.remember {
  top: 0;
  font-size: var(--font-size-31xl);
  width: 509px;
}

.miracids-finding {
  top: 87px;
  line-height: 42px;
  font-weight: 300;
  width: 675px;
}

.rectangle-177 {
  position: absolute;
  top: 530px;
  left: 857px;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 284px;
  height: 40px;
}

.feynman-technique {
  position: absolute;
  top: 538px;
  left: 905px;
  letter-spacing: -0.03em;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 187px;
}

.chat,
.frame-1 {
  position: absolute;
  width: 1368px;
}

.chat {
  top: 339px;
  left: calc(50% - 684px);
  height: 570px;
  text-align: left;
  font-size: var(--font-size-xl);
}

.frame-1 {
  top: 873px;
  left: 23px;
  height: 909px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}

.concentrate {
  position: absolute;
  top: 213px;
  left: 0;
  letter-spacing: -0.03em;
  display: inline-block;
  width: 163px;
}

.concentrate-image-icon {
  position: absolute;
  top: 85px;
  left: 23px;
  width: 109px;
  height: 111px;
  object-fit: cover;
}

.efficiency,
.memorize {
  position: absolute;
  top: 213px;
  letter-spacing: -0.03em;
  display: inline-block;
  width: 194px;
}

.efficiency {
  left: 859px;
}

.memorize {
  left: calc(50% - 96.5px);
}

.center-text {
  position: absolute;
  top: 0;
  left: 226px;
  font-size: var(--font-size-31xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 636px;
}

.cogs-image-icon {
  position: absolute;
  top: 44px;
  left: 869px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.light-bulb-image-icon {
  position: absolute;
  top: 85px;
  left: calc(50% - 54.5px);
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.rectangle-181,
.rectangle-182 {
  position: absolute;
  top: 78px;
  left: 318px;
  background-color: var(--color-gray);
  width: 1px;
  height: 155px;
}

.rectangle-182 {
  top: 79px;
  left: 755px;
}

.all-in-1 {
  position: absolute;
  top: 1896px;
  left: 171px;
  width: 1053px;
  height: 252px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}

.inside {
  position: absolute;
  top: 710px;
  left: 28px;
  width: 1414px;
  height: 2148px;
}

.footer-background {
  position: absolute;
  top: -90.42px;
  left: -84px;
  background-color: var(--color-black);
  width: 1471px;
  height: 392.42px;
  mix-blend-mode: darken;
}

.email-input-area,
.register-btn-text {
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
}

.email-input-area {
  border: 1px solid var(--color-white);
  display: flex;
  background-color: var(--color-black);
  position: absolute;
  top: 149px;
  left: 729px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 338px;
  height: 47px;
  flex-direction: column;
  padding: var(--padding-10xs) 29.858657836914062px;
  align-items: flex-start;
  justify-content: flex-end;
}

.register-btn-text {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 40px;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 146px;
}

.register-button {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-10xs) 0;
  background-color: var(--color-black);
  position: absolute;
  top: 149px;
  left: 1083px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 187px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.copyright-text {
  position: absolute;
  top: 174px;
  left: 0;
  letter-spacing: -0.03em;
  display: inline-block;
  width: 347px;
}

.facebook-icon,
.insta-icon,
.mail-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 64px;
  left: 50px;
  width: 33px;
  height: 33px;
  background-image: url(../assets/facebookicon@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.insta-icon,
.mail-icon {
  left: 97px;
  background-image: url(../assets/instaicon@3x.png);
}

.mail-icon {
  top: 69px;
  left: 4px;
  height: 25px;
  background-image: url(../assets/mailicon@3x.png);
}

.register {
  top: -6px;
  left: 1093px;
  font-size: 40px;
  font-weight: 600;
  text-align: right;
  width: 177px;
}

.email-address,
.regist-text,
.register {
  position: absolute;
  letter-spacing: -0.03em;
  display: inline-block;
}

.regist-text {
  top: 77px;
  left: 547px;
  font-size: 28px;
  text-align: right;
  width: 744px;
}

.email-address {
  top: 121px;
  left: 0;
  font-size: var(--font-size-13xl);
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
  width: 248px;
}

.copyright-image-icon {
  position: absolute;
  top: 176px;
  left: 87px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.foot,
.miracids {
  position: absolute;
}

.miracids {
  top: -7px;
  left: 0;
  font-size: var(--font-size-31xl);
  display: flex;
  align-items: center;
  width: 340px;
  height: 62px;
}

.foot {
  top: 3067px;
  left: calc(50% - 651.5px);
  width: 1251px;
  height: 198px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3383px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .login-button {
    opacity: 0;
  }

  .login-button.animate {
    animation: 2.5s ease-in 1s 1 normal forwards fade-in-bottom;
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}