:root {
	--numDays: 5;
	--numHours: 10;
	--timeHeight: 60px;
	--calBgColor: #fff1f8;
	--eventBorderColor: #f2d3d8;
	--eventColor1: #ffd6d1;
	--eventColor2: #fafaa3;
	--eventColor3: #e2f8ff;
	--eventColor4: #d1ffe6;
}


body {
	margin: 0;
	line-height: normal;
	font-family: system-ui, sans-serif;
}



.about-us {
	text-decoration: none;
	position: absolute;
	top: 20px;
	left: 601px;
	letter-spacing: -0.03em;
	font-weight: 500;
	color: inherit;
	display: inline-block;
	width: 124px;
	height: 23px;
}

.calendar {
	text-decoration: none;
	position: absolute;
	top: 20px;
	left: 212px;
	letter-spacing: -0.03em;
	font-weight: 500;
	color: inherit;
	text-align: left;
	display: inline-block;
	width: 103px;
	height: 23px;
}

.miracids-logo-icon {
	position: absolute;
	top: -50px;
	left: 0px;
	width: 156px;
	height: 153px;
	object-fit: cover;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.vector-3-icon {
	position: absolute;
	top: 29.36px;
	left: 547.36px;
	width: 13.27px;
	height: 7.91px;
}

.study-techniques-text {
	position: absolute;
	top: 20px;
	left: 362px;
	letter-spacing: -0.03em;
	font-weight: 500;
	text-align: left;
	display: inline-block;
	width: 169px;
	height: 23px;
}

.mirabot {
	text-decoration: none;
	position: absolute;
	top: 20px;
	left: 773px;
	letter-spacing: -0.03em;
	font-weight: 500;
	color: #000;
}

.login-text {
	position: relative;
	font-size: 14px;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-family: Inter;
	color: #fff;
	text-align: left;
}

.login-button {
	cursor: pointer;
	border: none;
	padding: 8px 16px;
	background-color: #141f81;
	position: absolute;
	top: 13.5px;
	left: 1159px;
	border-radius: 10px;
	width: 105px;
	height: 35px;
	display: flex;
	/* flex-direction: column; */
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.navigation-objects {
	position: relative;
	background-color: #fff;
	width: 1471px;
	height: 57.79px;
}

.nav-bar {
	margin: 0;
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 55.73px;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: flex-end;
	opacity: 1;
	text-align: center;
	font-size: 20px;
	color: #2c2c2c;
	font-family: Inter;
	left: 0;
	right: 0;

}

.nav-bar.animate {
	animation: 1.5s ease-in 1s 1 normal forwards scale-up
}

@keyframes scale-up {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 1200px) {
	.login-button {
		opacity: 0;
	}

	.login-button.animate {
		animation: 2.5s ease-in 1s 1 normal forwards fade-in-bottom
	}

	@keyframes fade-in-bottom {
		0% {
			transform: translateY(50px);
			opacity: 0;
		}

		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

}

.calendar_table {
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	margin: 2rem;
}

.timeline {
	display: grid;
	grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
	display: grid;
	grid-column: 2;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
	display: grid;
	grid-template-rows: repeat(var(--numHours), var(--timeHeight));
	border-radius: 5px;
	background: var(--calBgColor);
}

.start-10 {
	grid-row-start: 2;
}

.start-12 {
	grid-row-start: 4;
}

.start-1 {
	grid-row-start: 5;
}

.start-2 {
	grid-row-start: 6;
}

.end-12 {
	grid-row-end: 4;
}

.end-1 {
	grid-row-end: 5;
}

.end-3 {
	grid-row-end: 7;
}

.end-4 {
	grid-row-end: 8;
}

.end-5 {
	grid-row-end: 9;
}

.title {
	font-weight: 600;
	margin-bottom: 0.25rem;
}

.event {
	border: 1px solid var(--eventBorderColor);
	border-radius: 5px;
	padding: 0.5rem;
	margin: 0 0.5rem;
	background: white;
}

.space,
.date {
	height: 60px;
}

.corp-fi {
	background: var(--eventColor1);
}

.ent-law {
	background: var(--eventColor2);
}

.writing {
	background: var(--eventColor3);
}

.securities {
	background: var(--eventColor4);
}

.date {
	display: flex;
	gap: 1em;
}

.date-num {
	font-size: 3rem;
	font-weight: 600;
	display: inline;
}

.date-day {
	display: inline;
	font-size: 3rem;
	font-weight: 100;
}